/* remove default browser spacing*/
* {
  margin: 0px;
  padding: 0px;
}
.main{
  background-color: rgb(136, 114, 114);
}
.Nav ul{
  display: flex;
  padding: 20px;
  align-items: center;
  list-style: none;
  font-size: 30px;
  justify-content: space-between;
  background-color: rgb(92, 31, 31);
  
  
}
.Nav a{
  text-decoration: none;
  color: aliceblue;
 
}
.Navs {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 80px;
  color: aliceblue;
 
}
.Home h1{
  font-size: 50px;
  font-weight: 700;
  padding-right: 40%;
}
.Home h2{
  font-size: 35px;
  font-weight: 700px;
  padding-top: 30px;
 
}
.Home p{
  font-size: 25px;
  text-align:justify;
 
}
.Navs img{
  height: 50vh;
  width: 400px;
  border-radius: 30%;
  
}
.Home{
  padding-top: 20px;
}
 
.exp{
  display: flex;
  justify-content: space-between;
 
}
.exp1{
  padding-left: 200px;
}
.exp2{
  padding-right: 200px;
  font-size: 20px;
}
.hobbies{
  display: flex;
  justify-content: space-between;
  
}
.hob1{
  padding-left: 300px;
  
 
}
.hob2{
  padding-right: 400px;
  font-size: 20px;
}
 
 
/*title text style*/
/* the font-family 'JetBrains Mono', has been linked
* and is available for your use
* */
 