* {
  margin: 0px;
  padding: 0px;
}

.main{
  background-color: rgb(255, 255, 255);
}
.Nav ul{
  display: flex;
  padding: 20px;
  align-items: center;
  list-style: none;
  font-size: 30px;
  justify-content: space-between;
  background-color: rgb(92, 31, 31);
  
  
}
.Nav a{
  text-decoration: none;
  color: aliceblue;
 
}
.Navs {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 80px;
 
}
.Home h1{
  font-size: 40px;
  font-weight: 700;
  padding-right: 40%;
}
.Home h2{
  font-size: 15px;
  font-weight: 700px;
  padding-top: 10px;
 
}
.Home p{
  font-size: 21px;
  text-align:justify;
 
}
.Navs img{
  height: 50vh;
  width: 400px;
  border-radius: 30%;
  
}
.Home{
  padding-top: 20px;
}
 
.exp {
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  margin: 20px auto; /* Centers the box horizontally */
  background: rgb(157, 197, 224);
  max-width: 800px; /* Limits the width of the box */
  width: 100%; /* Ensures it doesn't exceed the parent container */
  padding: 20px; /* Adds space inside the box */
  box-sizing: border-box; /* Includes padding in the width calculation */
}
.exp1{
  padding-left: 100px;
  font-size: 12px;
}
.exp2{
  padding-right: 100px;
  font-size: 12px;
  list-style: disc;
}
.hobbies{
  display: flex;
  justify-content: space-between;
  
}
.hob1{
  padding-left: 300px;
  
 
}
.hob2{
  padding-right: 400px;
  font-size: 20px;
}
 
 

 